{% extends "bloggs/base.html" %} {% load crispy_forms_tags %} {%block content%}
<div class="content-section">
  <form action="" method="POST">
    {%csrf_token%}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>
      {{form | crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Login In</button>
      <small class="text-muted ml-2">
        <a href="{% url 'password-reset' %}" class="">forgot password?</a>
      </small>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      do you need an account?<a
        href="{%url 'register-authentication'%}"
        class="ml-2"
        >sign up</a
      >
    </small>
  </div>
</div>
{%endblock content%}
